<nav aria-label="Page navigation" class="{{options.namespace}} {{options.namespace}}_range">
    <ul class="{{options.namespace}}-list">
        {{#if options.prev}}
        <li class="
            {{options.namespace}}-item
            {{options.namespace}}-item_prev
            {{options.page == 1 ? options.namespace + 'item_disabled' : ''}}
            ">
            <a aria-label="Previous" href="{{= options.page - 1 | page}}">{{options.prev}}</a>
        </li>
        {{/if}}

        {{#for item in list}}
        <li class="
            {{options.namespace}}-item
            {{options.page == item.text ? options.namespace + 'item_active' : ''}}
            {{item.type == 1 ? options.namespace + 'item_ellipsis' : ''}}
            {{item.type == 2 ? options.namespace + 'item_number' : ''}}
            "><a href="{{= item.page | page}}">{{item.text}}</a>
        </li>
        {{/for}}

        {{#if options.next}}
        <li class="
            {{options.namespace}}-item
            {{options.namespace}}-item_next
            {{options.page == options.total ? options.namespace + 'item_disabled' : ''}}
            ">
            <a aria-label="Next" href="{{= options.page + 1 | page}}">{{options.next}}</a>
        </li>
        {{/if}}
    </ul>
</nav>